// my vars 

// $footer-padding: 0.3rem 1.5rem .3rem;
$column-gap: 0.5rem;
$box-padding: 0.2rem;
$title-family: true;
$subtitle-family: true;

// @import "node_modules/bulmaswatch/slate/bulmaswatch";
// @import "node_modules/bulmaswatch/default/bulmaswatch";
// @import "node_modules/bulmaswatch/minty/bulmaswatch";
// @import "node_modules/bulmaswatch/litera/bulmaswatch";
// @import "node_modules/bulmaswatch/united/bulmaswatch";
// @import "node_modules/bulmaswatch/materia/bulmaswatch";
// @import "node_modules/bulmaswatch/pulse/bulmaswatch";
@import "node_modules/bulmaswatch/sandstone/bulmaswatch";
// @import "node_modules/bulmaswatch/simplex/bulmaswatch";
// @import "node_modules/bulmaswatch/yeti/bulmaswatch";
// @import "node_modules/bulmaswatch/spacelab/bulmaswatch";
// @import "node_modules/bulmaswatch/solar/bulmaswatch";

@import "Animations";

:export {
	spinerColor: $warning;
	defaultBackground: #FFCC00;
}

body {
	background: lightblue url("appBacground.jpg") repeat fixed center;
	position: absolute; 
	top: 0; 
	left: 0;
	width: 100%; 
	min-height: 100%;
	height: auto;
	// font-weight: 500;
}

.icons-group{
	padding: initial;
}

.card{
	background-color: lighten($color: $card-background-color , $amount: 0);
}

.touched{
	color: orangered;
	background-color: rgba(192, 130, 130, 0.07);
}

.hovered{
	background-color: darken($color: $box-background-color, $amount: 6%);
}
.clicked{
	background-color: rgba(109, 190, 102, 0.384);
}

.page{
	padding: 5px;
	background-color: darken($color: $box-background-color, $amount: 6%);
}

.icons-group > i{
	padding-right: 2px;
}

.topGapo{
	padding: 8px;
}

@media (max-width: 767px) {
	.page {
		margin-top: 48px;
	}

	.navbar {
			position: absolute;
			top: 0;
			left: 0;
	//    height: 100%;
			width: 100%;
			// background-color: rgba(0,0,0,0.5);
			z-index: 10;
	}
}

.footko {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(106, 191, 176);
	color: whitesmoke;
	text-align: center;
}

.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
}

@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}
}

// // Import only what you need from Bulma
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";

// font-family: 'Indie Flower', cursive;
// font-family: 'Caveat', cursive;
// font-family: 'Noto Serif', serif;
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Gloria Hallelujah', cursive;
// font-family: 'Roboto Mono', monospace;
